.post-header {
    margin-top: 60px;
    text-align: center;
}

.post-title {
    font-size: 4rem;
    color: #fff;
    text-shadow: 0 0 32px #000;
    font-weight: 700;
}

.post-excerpt {
    /* color: var(--secondary-text-color); */
    font-size: 1.5rem;
    color: #fff;
    text-shadow: 0 0 4px #000;
    line-height: 1.5;
    font-weight: 500;
    text-align: center;
}

.post-media {
    margin-top: 60px;
}

.post-imagebg {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.post-content {
    margin-top: 60px;
    line-height: 1.9;
}

.content-box {
    position: relative;
}

.content-box::before {
    content: "";
    background-color: #fff;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
}

.content-box-after {
    position: relative;
    margin: 8px;
}

.post-caption {
    display: none;
}

.post-link {
    display: block;
    opacity: 1;
    transition: opacity 0.5s var(--animation-base);
}

.post-link:hover {
    opacity: 0.5;
}
.post-linktitle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    padding: 8px;
    line-height: 1.2em;
    text-align: center;
    font-weight: 700;
    font-size: 1.6rem;
    text-shadow: 0 0 16px #000000;
    word-wrap: break-word;
    color: var(--white-color);
    opacity: 0.5;
    transition: opacity 0.5s var(--animation-base), transform 0.5s var(--animation-base);
    transform: scale(0.8);
}

.post-lightbox {
    position: absolute;
    right: 15px;
    bottom: 15px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: var(--white-color);
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.2s var(--animation-base), transform 0.2s var(--animation-base);
    transform: scale(0.8);
}

.post-link:hover + .post-lightbox,
.post-link:hover + .post-linktitle,
.post-linktitle:hover,
.post-lightbox:hover {
    opacity: 1;
    transform: scale(1);
}

@media (max-width: 767px) {
    .post-title {
        font-size: 32px;
    }

    .post-excerpt {
        font-size: 18px;
    }

    .post-media,
    .post-content {
        margin-top: 40px;
    }
}
